.profile__info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /*align-self: flex-start;*/
    flex-wrap: wrap;
    max-width: 336px;
}

@media screen and (max-width: 700px) {
    .profile__info {
        justify-content: center;
        margin-bottom: 36px;
    }
}
