.card__like {
    all: unset;
    min-width: 22px;
    min-height: 19px;
    transition: opacity 0.3s ease-in-out;
    background-image: url("../../../images/heart.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
    cursor: pointer;
}

.card__like:hover {
    opacity: 0.5;
}